<!-- multistep form -->
<div class="body">
  <div id="form">
  <form id="msform"  >
      <h1 class="fs-title">Crea tu cuenta</h1>
      <select name="pais">
        <option value="0">Tipo de documento</option>
        <option value="1">CC</option>
        <option value="2">TI</option>
        <option value="3">CE</option>
        <option value="4">PE</option>
      </select>
      <input type="text" name="numid" placeholder="Numero de identificacion" />
      <input type="text" name="email" placeholder="Email" />
      <input type="password" name="pass" placeholder="Contraseña" />
      <input type="password" name="cpass" placeholder="Confirmar Contraseña" />
      <input type="text" name="nombres" placeholder="Nombres" />
      <input type="text" name="Apellidos" placeholder="Apellidos" />
      <input type="text" name="Celular" placeholder="Numero de celular" />
      <input type="date" name="Fecha" placeholder="Fecha de Nacimiento "/>
      <input type="text" name="Dire" placeholder="Direccion" />
      <input type="text" name="barrio" placeholder="Barrio" />
      <input type="text" name="ref" placeholder="Referencia" />
      <input type="submit" name="enviar" class="enviar action-button" value="Enviar" />
    
  </form>
</div>
</div>