

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

header {
        width: 100%;
        height:10.592rem;   
}



.nav{
    text-align: center;
    list-style: none;

}

.nav li{

    display: inline-block;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: grey;
}

.login{

    padding-left: 40rem;


}

.register{
    padding-left: 2rem;
}




.welcome{

    
    width: 100%;

}

.container-welcome{
    background-color: #e3f2fd;


}



.container-welcome h3 p{
    
    padding: 10rem 10rem;
    text-align: center;
    color: grey;

}

.vaccine-head{

   
    text-align: center;

}

.vaccine{

    display: flex;
    flex-wrap: wrap;
}

.vaccine-item {
    margin: 3em;
}

.contact{

    background-color: #e3f2fd;
    color: grey;
}

footer{
    background-color: #e3f2fd; 
}
